.special {
  @media screen and (min-width: $desktop) {
    padding-bottom: 0;
  }

  &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -15px;
    }
  }


.special__item {
  color: $secondary-text-color;
  width: 100%;
  margin: 15px;
}


//   @media screen and (min-width: $tablet) {
//     width: 354px;
//     margin-right: 30px;
//     &:nth-last-child(-n + 2) {
//       margin-bottom: 0;
//     }

//     &:nth-child(2n) {
//       margin-right: 0px;
//     }
//   }

//   @media screen and (min-width: $desktop) {
//     width: 270px;
//     &:not(:last-child) {
//       margin-right: 30px;
//       margin-bottom: 0;
//     }
//   }
// }

@media screen and (min-width: $tablet) {
  .special__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: $desktop) {
  .special__item {
    width: calc((100% - 4 * 30px) / 4);
  }
}
.special__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: $primary-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.special__blok {
  background-color: #f5f4fa;
  max-width: 450px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  
}

// @media screen and (min-width: $tablet) {
//   .special__blok {
//     width: calc((100% - 2 * 30px) / 2);
//   }
// }

// @media screen and (min-width: $desktop) {
//   .special__blok {
//     width: calc((100% - 4 * 30px) / 4);
//   }
// }
//   &:not(:last-child) {
//     margin-bottom: 30px;
//   }

//   @media screen and (min-width: $tablet) {
//     width: 354px;
//   }

//   @media screen and (min-width: $desktop) {
//     width: 270px;
//     &:not(:last-child) {
//       margin-right: 30px;
//     }
//   }
// }

// @media screen and (min-width: $tablet) {
//   .special__blok {
//     width: calc((100% - 2 * 30px) / 2);
//   }
// }

// @media screen and (min-width: $desktop) {
//   .special__blok {
//     width: calc((100% - 4 * 30px) / 4);
//   }
// }